In [1]:
# import modules
from openTSNE import TSNE 
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import cm
import numpy as np
import seaborn as sns
import openTSNE
#from examples import utils

%config InlineBackend.figure_format = 'retina'
%config InlineBackend.print_figure_kwargs = {'facecolor' :"w"}

In [2]:
# import dataset
model_result = pd.read_csv('C:\\Users\\e0431401\\Desktop\\LXW\\output_prob_ag.csv')
#train = pd.read_csv('C:\\Users\\e0431401\\Downloads\\archive\\fashion-mnist_train.csv')
#test = pd.read_csv('C:\\Users\\e0431401\\Downloads\\archive\\fashion-mnist_test.csv')

In [4]:
np.shape(train)

(60000, 785)

In [5]:
np.shape(test)

(10000, 785)

In [3]:
np.shape(model_result)

(10000, 20)

In [4]:

X = model_result
X.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-13.157907,-15.984727,-15.265772,-15.648609,-13.861909,-8.752279,-15.319042,-5.574798,-11.363718,-0.003973,-13.726641,-16.786366,-14.465547,-16.25341,-14.203761,-7.849317,-15.913630,-6.081603,-12.390832,-0.002685
1,-7.868055,-16.729311,-0.008573,-13.146019,-4.849840,-17.321301,-8.078411,-20.924368,-11.351968,-14.660360,-7.451914,-16.769459,-0.003326,-13.57392,-6.117052,-17.788265,-7.548481,-21.231863,-11.977738,-14.605773

In [5]:
X = np.array(X)
#Y = np.array(Y)

In [6]:
X.shape

(10000, 20)

In [7]:
%%time
embedding_train = TSNE(
    perplexity = 81, 
    initialization = 'pca', 
    metric = 'euclidean', 
    n_jobs = 8, 
    random_state = 3).fit(X)

## perlpexity should be log(n)^2, n is datasize

Wall time: 39.3 s

In [8]:
# t-SNE plot
embedding_train = pd.DataFrame(embedding_train)

type(embedding_train)
embedding_train.to_csv('C:\\Users\\e0431401\\Desktop\\LXW\\em_test_ag.csv')

TypeError: plot() missing 1 required positional argument: 'y'